
html {
    box-sizing: border-box;
}
.header-content-club {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/ItdialogClub.jpeg") no-repeat center ;
    width: 100%;
    height: 720px;

}

.header-club {
    display: flex;
    justify-content: space-between; 
    padding: 16px;

}

.left-header { 
    justify-content: center;
    padding-top: 24px ;
}
.center-header {
    display: flex;
    gap: 28px;
    justify-content: space-between ;
    text-align: center;
    text-wrap: wrap;
    padding-top: 36px ;
}
.right-header {
    padding: 16px 0px 0px 0px;
}

.header-content-border {
    display: flex;
    background-color: #D12A11;
    border-radius: 8px;
    width: 49.5%; /* поправить потом */
    margin-top: 16px;
}
.sc-text-itclub {
    padding: 2px 16px 2px 16px;
}
.itdialog {
    display: flex;
    flex-direction: column;
    margin-top: 80px;

}
.description{
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    width: 764px;
    gap: 16px;
}
.description-block img {
    width: 28px;
    height: 28px;
}
.description-block {
    display: flex;
    flex-direction: row;
    gap: 16px;

}
.btn-club {
    margin-top: 104px;
}
.vector {
    padding: 56px 0px 56px 0px;
}
.club-directions {
    display: flex;
    flex-wrap: wrap; 
    gap:24px;
    padding-top: 40px;
}

.item-dir {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 392px;
    height: 120px;
    background-color:#2B71C2 ;
    border-radius: 20px;
}
.circle-dir {
    display: flex;
    width: 28px;
    height: 28px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.28);
    justify-content: center;
    align-items: center;
}
.item-dir div h4 {
    color: white;
}
.navigate {
    display: flex;
    width: 312px;
    align-items: center;
    justify-content: space-between;
}
.partners {
    padding: 56px 0px 56px 0px;
}
.partners-blocks {
    padding-top: 40px;
    display: flex;
    gap: 21px;
    flex-wrap: wrap;
}
.partner-block {
    width: 184px;
    height: 80px;
    border: 1px #E1E6EB solid;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-community {
    background-color:#1D2329;
    padding: 56px 0 56px 0;
}
.bg-community div h2 {
    color: white;
    padding-bottom: 40px;
}
.community-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    gap:24px;
}
.community-block {
    width: 600px;
    display: flex;
    flex-direction: column;
}
.Checkmark2-community {
    padding-bottom: 16px;
}
.community-block div h3 {
    color: white;
    margin-bottom: 28px;
}
.more-community {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
