* {
    margin: 0;
    padding: 0;
    
}

.container {
    width: 1224px;
    max-width: 100%;
    margin: 0 auto;
}

/*стили текстов*/
h1 {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    color: white;
}

h2 {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: #1D2329
}

h3 {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 600;
    font-size: 1.75rem;
    color: #1D2329
}

h4 {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    color: #1D2329
}

h5 {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: white;
}

.body_small {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: white;
}

.body_large {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    color: white;
}

.button_text_blue {
    padding: 0px 28px 0px 28px;
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: white;
}

.button_text_white {
    padding: 0px 20px 0px 20px;
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: rgb(0, 0, 0);
}

/*кнопки*/
.button_blue {
    height: 56px;
    background-color: #2B71C2;
    border-radius: 12px;
    border: none;
}

.button_white {
    height: 40px;
    background-color: #F5F8FC;
    border-radius: 12px;
    border: 1px solid #2B71C2;
}

/*шапка*/
.logo {
    display: flex;
    justify-content: center;
}

.header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/background_header.jpg) no-repeat center;
    width: 100%;
    height: 720px;
    display: flex;
    align-items: center;
}

.title_content {
   gap: 40px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.title-header{
   text-align: center;
}

.header {
    display: flex;
    justify-content: center;
}

.header-content {
    padding: 80px 108px 80px 108px;
    height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.data_adress {
    gap: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.down_header {
    width: 1133px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*что такое ИТ Диалог*/
.what_is_it_dialog {
    padding:56px 0 56px 0;
}

.blocks_it {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.block_it {
    height:200px;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.block_it1 {
    width:392px;
    height:240px;
    background-image:url(../images/Item-About1.jpg);
}

.block_it2 {
    width:392px;
    height:240px;
    background-image:url(../images/Item-About2.jpg);
}

.block_it3 {
    width:392px;
    height:240px;
    background-image:url(../images/Item-About3.jpg);
}

/*лица клуба*/

.main-face{
    background-color:#F5F8FC;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 951px;
    padding: 56px 108px 56px 108px;
    opacity: 0px;
}

.face_club {
    padding:56px 0 56px 0;
}
.blocks_face {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.block_face {
    width: 248px;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.block_face1 {
    width: 288px;
    border-radius: 20px;
    opacity: 0px;
    background-color: #ffffff;
}


.block_face1 h4{   
    width: 248px;
    height: 24px;
    text-align: center;
}

.block_face1 div img{   
    display:flex;
    justify-content: center; 
    width: 144px; 
    height: 144px;
    padding-right: 52px;
    padding-left: 52px;
    padding-bottom: 20px;

}

.block_face2 {
    width: 288px;
    border-radius: 20px;
    opacity: 0px;
    background-color: #ffffff;
}


.block_face2 h4{   
    width: 248px;
    height: 24px;
    text-align: center;
}

.block_face2 div img{   
    display:flex;
    justify-content: center; 
    width: 144px; 
    height: 144px;
    padding-right: 52px;
    padding-left: 52px;
    padding-bottom: 20px;

}


.block_face3 {
    width: 288px;
    gap: 28px;
    border-radius: 20px;
    opacity: 0px;
    background-color: #ffffff;
}


.block_face3 h4{   
    width: 248px;
    height: 24px;
    text-align: center;
}

.block_face3 div img{   
    display:flex;
    justify-content: center; 
    width: 144px; 
    height: 144px;
    padding-right: 52px;
    padding-left: 52px;
    padding-bottom: 20px;

}

.block_face4 {
    width: 288px;
    height: 348px;
    border-radius: 20px;
    opacity: 0px;
    background-color: #ffffff;
}


.block_face4 h4{   
    width: 248px;
    height: 24px;
    text-align: center;
}

.block_face4 div img{   
    display:flex;
    justify-content: center; 
    width: 144px; 
    height: 144px;
    padding-right: 52px;
    padding-left: 52px;
    padding-bottom: 20px;

}


.block_face5 {
    width: 288px;
    border-radius: 20px;
    opacity: 0px;
    background-color: #ffffff;
    margin-top: 24px;
}


.block_face5 h4{   
    width: 248px;
    height: 24px;
    text-align: center;
}

.block_face5 div img{   
    display:flex;
    justify-content: center; 
    width: 144px; 
    height: 144px;
    padding-right: 52px;
    padding-left: 52px;
    padding-bottom: 20px;

}

.block_face6 {
    width: 288px;
    border-radius: 20px;
    opacity: 0px;
    background-color: #ffffff;
    margin-top: 24px;
}


.block_face6 h4{   
    width: 248px;
    height: 24px;
    text-align: center;
}

.block_face6 div img{   
    display:flex;
    justify-content: center; 
    width: 144px; 
    height: 144px;
    padding-right: 52px;
    padding-left: 52px;
    padding-bottom: 20px;

}

.block_face7 {
    width: 288px;
    height: 296px;
    border-radius: 20px;
    background-color: #ffffff;
    margin-top: 24px;
}


.block_face7 h4{   
    width: 248px;
    height: 24px;
    text-align: center;
}

.block_face7 div img{   
    display:flex;
    justify-content: center; 
    width: 144px; 
    height: 144px;
    padding-right: 52px;
    padding-left: 52px;
    padding-bottom: 20px;

}


.block_face8 {
    width: 288px;
    height: 296px;
    border-radius: 20px;
    opacity: 0px;
    background-color: #ffffff;
    margin-top: 24px;
}


.block_face8 h4{   
    width: 248px;
    height: 24px;
    text-align: center;
}

.block_face8 div img{   
    display:flex;
    justify-content: center; 
    width: 144px; 
    height: 144px;
    padding-right: 52px;
    padding-left: 52px;
    padding-bottom: 20px;

}

.body_small div {
    color: #78838F;
    text-align: center;
}
