* {
    margin: 0;
    padding: 0;
    
}

.container {
    width: 1224px;
    max-width: 100%;
    margin: 0 auto;
}

/*стили текстов*/

h1 {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    color: white;
}

h2 {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: #1D2329
}

h3 {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 600;
    font-size: 1.75rem;
    color: #1D2329
}

h4 {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    color: #1D2329
}

h5 {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: white;
}

.body_small {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: white;
}

.body_large {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    color: white;
}

.button_text_blue {
    padding: 0px 28px 0px 28px;
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: white;
}

.button_text_white {
    padding: 0px 20px 0px 20px;
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: rgb(0, 0, 0);
}

/*кнопки*/

.button_blue {
    height: 56px;
    background-color: #2B71C2;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.button_white {
    height: 40px;
    background-color: #F5F8FC;
    border-radius: 12px;
    border: 1px solid #2B71C2;
    cursor: pointer;
}


/*шапка*/

.logo {
    display: flex;
    justify-content: center;
}

.header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/background_header.jpg) no-repeat center;
    width: 100%;
    height: 720px;
    display: flex;
    align-items: center;
}

.title_content {
   gap: 40px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.title-header{
   text-align: center;
}

.header {
    display: flex;
    justify-content: center;
}

.header-content {
    padding: 80px 108px 80px 108px;
    height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.data_adress {
    gap: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.down_header {
    width: 1133px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*что такое ИТ Диалог*/

.what_is_it_dialog {
    padding:56px 0 56px 0;
}

.blocks_it {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.block_it {
    height:200px;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.block_it1 {
    width:392px;
    height:240px;
    background-image:url(../images/Item-About1.jpg);
}

.block_it2 {
    width:392px;
    height:240px;
    background-image:url(../images/Item-About2.jpg);
}

.block_it3 {
    width:392px;
    height:240px;
    background-image:url(../images/Item-About3.jpg);
}

/*лица клуба*/

.main-face{
    background-color:#F5F8FC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 56px 0 56px 0;
}

.blocks_face {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    margin-top: 40px;
}

.block_face {
    width: 248px;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    gap: 16px;
  
}

.block_faces {
    width: 288px;
    border-radius: 20px;
    background-color: #ffffff;
}


.block_faces h4{   
    width: 248px;
    height: 24px;
    text-align: center;
}

.block_faces div img{   
    display:flex;
    justify-content: center; 
    width: 144px; 
    height: 144px;
    padding-right: 52px;
    padding-left: 52px;
    padding-bottom: 20px;
}

.body_small div {
    color: #78838F;
    text-align: center;
}

.btn_faces {
    display: flex;
    justify-content: center;
    margin-top:40px;
}

/* календарь мероприятий*/

.btn_calendar {
    display: flex;
    justify-content: center;
}

.invent_calendar {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 56px 0 56px 0;
}

.invent_calendars {
    display: flex;
    gap: 24px;
}

.invent_calendar-block {
    display: flex;
    flex-direction: column;
    gap:28px;
    border: 1px solid #E1E6EB;
    border-radius: 20px;
    padding: 20px;
    width: 392px;
}

.invent-balls {
    display: flex;
    gap:16px;
}

.invent-ball1 {
    background-color: #F5F8FC;
    width: 168px;
    height: 168px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invent-ball1 img {
    mix-blend-mode: darken;
}

.invent-ball2 {
    background-color: #FAE9E6;
    width: 168px;
    height: 168px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.invent-ball2 div h4 {
    color: #D12A11;
}

.invent_year {
    color: #D12A11;
}

/* публикации */

.publications-info {
    display: flex;
    flex-direction: column;
    padding: 56px 0 0 0;
    gap:40px;
}

.publications{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.publication-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.publication {
   display: flex;
   flex-direction: column;
   gap:24px;
   width: 392px;
}

.publication-photo img{
    width: 392px;
    height: 220px;
    border-radius: 20px;
}

.publication-description div {
    color: #78838F;
}

.btn_public {
    display: flex;
    justify-content: center;
}

/* свяжитесь с нами */

.connection-info {
    display: flex;
    gap:24px;
}

.connection_page {
    padding: 56px 0 56px 0;
    background-color: #F5F8FC;
}

.connections {
    display: flex;
    flex-direction: column;
    gap:40px;
}

.human_links div {
    color:#1D2329;
}

.connect_human_name div {
    color:#78838F;
}

.connection {
    display: flex;
    flex-direction: column;
    Width: 600px;
    border-radius: 20px;
    padding: 20px;
    gap: 28px;
    background-color:#ffffff;
}

.connect_human {
    display: flex;
    gap: 28px;
}

.human_links {
    display: flex;
    flex-direction: column;
    gap:8px;
}

.tg {
    display: flex;
    gap:8px;
}

/* футер */

.footer {
    background-color: #1D2329;
    padding: 58px 0 58px 0;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.left-footer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.left-footer-text {
    display: flex;
    flex-direction: column;
    gap:16px;
}

.footer-phone h4{
   color: #ffffff;
}

.right-footer-links {
    display: flex;
    justify-content: flex-end;
    gap: 16px;

}

.right-footer {
    display: flex;
    flex-direction: column;
    gap:28px;
}

.right-footer-info {
    display: flex;
    flex-direction: column;
    gap:16px;
}

.right-footer-text {
    display: flex;
    flex-direction: column;
    gap:8px;
    text-align: right;
}